* {
  box-sizing: border-box;
  user-select: none;
}

.row {
  display: flex;
  
}

.cell {
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}